*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

composer.phar
composer.lock
vendor

.buildpath
.project
.settings
.idea/
.vagrant/

tests/unit/coverage/*
tests/integration/coverage/*
tests/integration/.phpunit.result.cache
tests/unit/.phpunit.result.cache